/* Table styles */
.table-container {
    width: 100%;
    margin: 20px auto;
    overflow-x: auto;
    background-color: #111827;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 5px;
    overflow: hidden;
    border: 0.5px solid #4378ec;
    background-color: #4378ec;
  }
  
  th, td {
    padding: 12px 15px;
    text-align: left;
    color: #ffffff;
    border: 0.5px solid #4378ec;
    opacity: 0.8;
  }
  
  .thead {
    background-color: #111839;
  }
  
  .thead th {
    font-size: 0.85em;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: capitalize;
    color: #ffffff;
    border-bottom: 1px solid #4378ec;
  }
  
  .tbody .even-row {
    background-color: #111827;
  }
  
  .tbody .odd-row {
    background-color: #111831;
  }
  
  .tbody tr td {
    border-bottom: 1px solid #4378ec;
    color: #ffffff;
  }
  
  .tbody tr:hover {
    background-color: #111829;
  }
  
  .tbody tr:last-child td {
    border-bottom: none;
  }
  
  .tbody td {
    font-size: 0.95em;
  }
  
  .tbody tr {
    transition: background-color 0.3s ease;
  }
  
  /* Add some style for better readability on small screens */
  @media (max-width: 600px) {
    th, td {
      padding: 10px 8px;
      font-size: 0.9em;
    }
  }
  