.JRank {
  background-color: #111827;
  color: #ffffff; 
  height: 100%; 
  padding: 20px;
  font-family: Arial, sans-serif; 
}
.separator-line {
  border: 0;
  height: 2px;
  background: #121212; 
  margin: 20px 0;
  opacity: 0.7; 
}
